<div id="main-search">
  {{input placeholder='Search Ticker' valueBinding='term' role='search'}}
  
  <ul id="search-results">
    {{#if isSearching}}
      {{#each stock in stocks}}
        <li>
          {{#link-to 'quote' stock.id bubbles=true}}
            <span {{action clearSearch}}>
              <span class="ticker">{{stock.id}}</span>
              <span class="name">{{truncate 30 stock.name}}</span><span class="exchange">{{stock.exchange}}</span>
            </span>
          {{/link-to}}
        </li>
      {{/each}}
    {{/if}}
  </ul>
</div>