<div id="main-search">
  {{input placholder='Searh Ticker' valueBinding='term' role='search'}}
  
    <div id="search-results">
      {{#if isSearching}}
        <ul>
          {{#each stock in stocks}}
            <li><span {{action clearSearch}}>{{#link-to 'quote' stock.id bubbles=true}}{{stock.id}} - {{stock.name}} - {{stock.exchange}}{{/link-to}}</span></li>
          {{/each}}
        </ul>
      {{/if}}
    </div>
</div>