<div id="main-search">
  {{input placeholder='Search Ticker' valueBinding='term' role='search'}}
  
  <ul id="search-results">
    {{#if isSearching}}
      {{#each stock in stocks}}
        <li>
          <span {{action clearSearch}}>
            {{#link-to 'quote' stock.id bubbles=true}}<span class="ticker">{{stock.id}}</span>{{/link-to}}
            <span class="name">{{stock.name}}</span><span class="exchange">{{stock.exchange}}</span>
          </span>
        </li>
      {{/each}}
    {{/if}}
  </ul>
</div>