<header id="main-header">
  <div class="inner">
    <div class="row">
      <div class="nine columns">
        <a href="#" class="logo">Plum</a>

        {{stock-search stocks=stocks action='search'}}
      </div>

      <div class="three columns">
        <div class="new-portfolio btn btn-small" {{action showNewPortfolioModal}}>New Portfolio</div>

        {{#modal-overlay id='new-portfolio-modal'}}
          <h2>New Portfolio</h2>
          <div>Use the form to create a new portfolio.<br>You'll be redirected to it afterwards.</div>

          <form id="new-portfolio-form" {{action createNewPortfolio on='submit'}}>
            {{input type='text' name='name' value=newPortfolio.name placeholder='Name'}}
            {{input type='number' step='any' min='0' name='cash' value=newPortfolio.cash placeholder='Cash'}}

            <div class="form-error"></div>

            {{input type='submit' value='Submit'}}
          </form>
          
        {{/modal-overlay}}

        {{#link-to 'user' user.username}}
          <div class="avatar">
            <img {{! bind-attr src=user.avatar}}>
          </div>
          <div class="username">{{user.username}}</div>
        {{/link-to}}
      </div>
    </div>
  </div>

  <img id="loading" src="images/loader.gif">
</header>

<div class="main-page">
{{outlet}}
</div>

<footer id="main-footer">
  <div class="inner">
    <div class="row">
      <div class="six columns">
        <div class="copyright">Copyright &copy; 2015. All rights reserved.</div>
      </div>
      <div class="six columns">
        <div class="author">Created by <a href="http://jadn.co">Jaden Dessureault.</a></div>
      </div>
    </div>
  </div>
</footer>