<header id="main-header">
  <div class="inner">
    <div class="row">
      <div class="nine columns">
        <a href="#" class="logo">Plum</a>

        {{stock-search stocks=stocks action='search'}}
      </div>

      <div class="three columns">
        <div class='new-portfolio' {{action showNewPortfolioModal}}>New Portfolio</div>

        {{#modal-overlay id='new-portfolio-modal'}}
          <h2>New Portfolio</h2>
          Create a new portfolio.

          <form {{action createNewPortfolio on='submit'}}>
            {{input type='text' value=newPortfolioName placeholder='Name'}}
            {{input type='submit' value='submit'}}
          </form>
          
        {{/modal-overlay}}

        {{#link-to 'user' user.username}}
          <div class="avatar">
            <img {{bind-attr src=user.avatar}}>
          </div>
          <div class="username">{{user.username}}</div>
        {{/link-to}}
      </div>
    </div>
  </div>

  <img id="loading" src="images/loader.gif">
</header>

<div class="main-page">
{{outlet}}
</div>

<footer id="main-footer">
  <div class="inner">
    <div class="row">
      <div class="six columns">
        <div class="copyright">Copyright &copy; 2015. All rights reserved.</div>
      </div>
      <div class="six columns">
        <div class="author">Created by <a href="http://jadn.co">Jaden Dessureault.</a></div>
      </div>
    </div>
  </div>
</footer>