<main id="portfolio">
  <div class="inner">
    <div class="row">
      <section class="module seven columns">
        <h2>{{name}}</h2>
        <button class="btn" {{action showNewDepositModal}}>Deposit Cash</button>

        {{#modal-overlay id='new-deposit-modal'}}
            <h2>Desposit Cash</h2>
            <div>Use the form to deposit cash to <strong>{{name}}</strong></div>

            <form id="new-deposit-form" {{action depositCash on='submit'}}>
              <span class="old-cash">{{currency cash}} &plus;</span>
              
              {{input type='number' min='0.01' step='0.01' name='newDeposit' value=newDeposit.cash placeholder='New deposit'}}

              {{#if newDeposit.cash}}
                <div class="total-cash">Total cash: ${{add cash newDeposit.cash}}</div>
              {{/if}}

              <div class="form-error"></div>

              {{input type='submit' value='Submit'}}
            </form>
          {{/modal-overlay}}
        <button class="red btn" {{action delete portfolio}}>Delete</button>
      </section>
      <!-- section id="holdings" class="module seven columns">
        <h3>Holdings</h3>
        
        {{!holding-chart slug=id data=holdings}}

        <a class="view-more" href="">View More</a>
      </section -->
      <section id="recent-transactions" class="module five columns">
        <div class="cf">
          <h3>Transactions</h3>
          <button class="new-transaction btn" {{action 'newTransaction'}}>New</button>
        </div>
        
          {{#if transactions}}
            <table>
              <tr>
                <th>Ticker</th>
                <th>Type</th>
                <th>Price</th>
                <th>Shares</th>
                <th>Value</th>
              </tr>
              {{#each transaction in transactions}}
                <tr>
                  {{#each stock in transaction.stocks}}
                    <td>{{#link-to 'quote' stock.id}}{{stock.id}}{{/link-to}}</td>
                  {{/each}}
                  <td>{{transaction.type}}</td>
                  <td>{{transaction.price}}</td>
                  <td>{{transaction.shares}}</td>
                  <td>{{transaction.value}}</td>
                </tr>
              {{/each}}
            </table>
          {{else}}
            <div class="no-transactions">There are no transactions.</div>
          {{/if}}
        </table>

        <!-- a class="view-more" href="">View More</a -->
      </section>
    </div>
  </div>
</main>