<main id="portfolios">
  <div class="inner">
    {{#each row in rows}}
      <div class="row">
        {{#each portfolio in row}}
          <article id="portfolio" class="module four columns">
            {{#link-to 'portfolio' portfolio.id}}
              <div class="name">{{portfolio.name}}</div>
              <div class="value">{{currency portfolio.value}}</div>
              <div class="date">{{date portfolio.created}}</div>
              <div>Cash: {{currency portfolio.cash}}</div>
              
              {{holding-chart slug=portfolio.id holdings=portfolio.holdings}}

              {{!#each holding in portfolio.holdings}}
                <!--div {{!bind-attr class=':holding ad'}} --> {{!holding.id}} {{!percent holding.percent}} {{!percent holding.overallReturn}}<!--/div -->
              {{!/each}}
            {{/link-to}}
          </article>
        {{/each}}
      </div>
    {{/each}}
  </div>
</main>

