{{#modal-overlay id='new-deposit-modal'}}
  <h2>Desposit Cash</h2>
  <div>Use the form to deposit cash to <strong>{{name}}</strong></div>

  <form id="new-deposit-form" {{action depositCash on='submit'}}>
    <span class="old-cash">{{currency cash}} &plus;</span>
    
    {{input type='number' min='0.01' step='0.01' name='newDeposit' value=newDeposit.cash placeholder='New deposit'}}

    {{#if newDeposit.cash}}
      <div class="total-cash">Total cash: ${{add cash newDeposit.cash}}</div>
    {{/if}}

    <div class="form-error"></div>

    {{input type='submit' value='Submit'}}
  </form>
{{/modal-overlay}}

<main id="portfolio">
  <div class="inner">
    <div class="row">
      <div class="seven columns">
        <section id="info" class="module seven cf">
          <div class="cf">
            <h2>{{name}}</h2>

            <button class="deposit btn btn-small" {{action showNewDepositModal}}>Deposit Cash</button>
            <button class="red btn btn-small" {{action delete portfolio}}>Delete</button>
          </div>
          <div class="cash">Cash: {{currency cash}}</div>
          <div class="value">Value: {{currency value}}</div>
        </section>
        <section id="holdings" class="module">
          <h3>Holdings</h3>
          
          <table id="holdings-table">
            <tr>
              <th>Ticker</th>
              <th>Price</th>
              <th>Change</th>
              <th>Shares</th>
              <th>Cost</th>
              <th>Value</th>
              <th>Gain</th>
              <th>Return</th>
            </tr>

            {{#if holdings}}
              {{#each holding in holdings}}
                <td>{{#link-to 'quote' holding.ticker}}{{holding.ticker}}{{/link-to}}</td>
                <td>{{dashes holding.lastPrice}}</td>
                <td>{{dashes holding.dayChange}}</td>
                <td>{{dashes holding.shares}}</td>
                <td>{{dashes holding.costBasis}}</td>
                <td>{{dashes holding.marketValue}}</td>
                <td>{{dashes holding.overallGain}}</td>
                <td>{{dashes holding.overallReturn}}</td>
              {{/each}}
            {{else}}
              <h3>No holdings.</h3>
            {{/if}}
          </table>
        </section>
      </div>

      <div class="five columns">
        <section id="recent-transactions" class="module">
          <div class="cf">
            <h3>Transactions</h3>
            <button class="new-transaction btn" {{action 'newTransaction'}}>New</button>
          </div>
          
            {{#if transactions}}
              <table>
                <tr>
                  <th>Ticker</th>
                  <th>Type</th>
                  <th>Price</th>
                  <th>Shares</th>
                  <th>Value</th>
                </tr>
                {{#each transaction in transactions}}
                  <tr>
                    <td>
                      {{#if transaction.ticker}}
                        {{#link-to 'quote' transaction.ticker}}{{transaction.ticker}}{{/link-to}}
                      {{else}}
                        --
                      {{/if}}
                    </td>
                    <td>{{dashes transaction.type}}</td>
                    <td>{{dashes transaction.price}}</td>
                    <td>{{dashes transaction.shares}}</td>
                    <td>{{currency transaction.value}}</td>
                  </tr>
                {{/each}}
              </table>
            {{else}}
              <div class="no-transactions">There are no transactions.</div>
            {{/if}}
          </table>

          <!-- a class="view-more" href="">View More</a -->
        </section>
      </div>
    </div>
  </div>
</main>