<main id="quote">
  <section>
    <div class="inner">
      <div class="row">
        <div class="nine columns">
          <div class="cf">
            <div class="cf">
              <div class="ticker">{{ticker}}</div>
              <div class="price">
                <span {{bind-attr class=':arrow ad'}}></span>
                {{withCommas price}}
              </div>
            </div>
            <div class="cf">
              <div class="name">{{name}}</div>
              <div {{bind-attr class=':change ad'}}>{{change}} ({{percentChange}})</div>
            </div>
          </div>

          <div class="graph"></div>
          <div>{{time lastTradeTime}}</div>
          

          {{!#modal-overlay}}
            Add <strong>{{ticker}}</strong> to a portfolio
            {{!view 'select'
              content=controllers.application.portfolios
              optionLabelPath='content.name'
              optionValuePath='content.id'
              prompt='Add to portfolio'
              selection=selectedPortfolio
            }}
          {{!/modal-overlay}}
          
          <select {{! action 'addToPortfolio' on='change'}} class="add-to-portfolio">
            <option selected disabled>Add to Portfolio</option>

            {{!#each portfolio in controllers.application.portfolios}}
              <option {{!bind-attr value=portfolio.name}}>{{!portfolio.name}}</option>
            {{!/each}}
          </select>
        </div>

        <div class="three columns">
          <button class="add-to-portfolio btn" {{action 'showPortfolioModal'}}>Add to portfolio</button>
          <div class="volume"><b>Volume:</b> {{withCommas volume}}</div>
        </div>
      </div>
    </div>
  </section>
</main>

