<main id="quote" class="main-page">
  <section>
    <div class="inner">
      <div class="row">
        <div class="nine columns">
          <div class="name">{{name}}</div>
          <div class="ticker">{{ticker}}</div>
          <div class="price">{{price}}</div>
          
          <select {{action 'addToPortfolio' on='change'}} class="add-to-portfolio">
            <option selected disabled>Add to Portfolio</option>

            {{#each portfolio in controllers.application.portfolios}}
              <option {{bind-attr value=portfolio.name}}>{{portfolio.name}}</option>
            {{/each}}
          </select>
          <div class="graph"></div>
        </div>

        <div class="three columns">
          <div><b>Volume:</b> {{withCommas volume}}</div>
        </div>
      </div>
    </div>
  </section>
</main>

