<main id="quote">
  <section>
    <div class="inner">
      <div class="row">
        <div class="nine columns">
          <div class="cf">
            <div class="cf">
              <div class="ticker">{{ticker}}</div>
              <div class="price">
                <span {{bind-attr class=':arrow ad'}}></span>
                {{withCommas price}}
              </div>
            </div>
            <div class="cf">
              <div class="name">{{name}}</div>
              <div {{bind-attr class=':change ad'}}>{{change}} ({{percentChange}})</div>
            </div>
          </div>

          <div class="module graph">
            <div class="trade-time">{{time lastTradeTime}}</div>
            {{quote-chart quote=id data=content}}
          </div>

          {{#modal-overlay id='new-trade-modal'}}
            <h2>New Trade</h2>
            <div>Use the form to add <strong>{{ticker}}</strong> to a portfolio.</div>

            <form id="new-trade-form" {{action addToPortfolio on='submit'}}>
              {{view 'select'
                content=controllers.application.portfolios
                optionLabelPath='content.name'
                optionValuePath='content.id'
                prompt='Choose a portfolio'
                value=newTrade.portfolio
                name='portfolio'
              }}

              {{input type='number' min='1' name='shares' value=newTrade.shares placeholder='Shares'}}
              
              <span>&times;</span>
              
              {{input type='text' name='price' value=newTrade.price placeholder='Price'}}

              {{#if newTrade.shares}}
                <div class="total-value">Total value: ${{multiply newTrade.shares newTrade.price}}</div>
              {{/if}}

              <div class="form-error"></div>

              {{input type='submit' value='Submit'}}
            </form>
          {{/modal-overlay}}
        </div>

        <div class="module three columns">
          <button class="add-to-portfolio btn" {{action showNewTradeModal}}>Add to portfolio</button>
          <div class="volume"><b>Volume:</b> {{withCommas volume}}</div>
        </div>
      </div>
    </div>
  </section>
</main>